/*============== Estilo do Index ==============*/
/*==============
Index Header, logo, fundo e estilo básico
==============*/
/*Cor e fundo*/
.IndexBG
{
    background: rgb(175,175,175);
    background: radial-gradient(circle, rgba(175,175,175,1) 0%, rgba(88,88,88,1) 100%);
    max-width: 1660px;
    overflow: hidden;
}
/*Logo e nome (Imagem e Texto)*/
.HeaderLogo
{
    width: 20%;
    height: 100%;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.HeaderLogo:hover
{
    width: 25%;
}
a
{
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
/*==============
Index cards, descrições e estilo avançado
==============*/
/*Icones, cargos, hrefs, etc*/
.SobreEmiliano
{
    text-align: center;
    font-size: 100%;
    color: white;
    margin: 2%;
    margin-left: 65px;
    z-index: 1;
    backdrop-filter: blur(115px);
    background-color: #37982683;
    border: 2px solid #111;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    width: 160px;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    padding: 0.25px;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.SobreEmiliano:hover
{
    background-color: #389826;
    transform: scale(1.2);
}
.SobreMatheus
{
    text-align: center;
    font-size: 100%;
    color: white;
    margin: 2%;
    margin-left: 65px;
    z-index: 1;
    backdrop-filter: blur(115px);
    background-color: #cb3d3389;
    border: 2px solid #111;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    width: 160px;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    padding: 0.25px;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.SobreMatheus:hover
{
    background-color: #cb3c33;
    transform: scale(1.2);
}
.SobreGiordano
{
    text-align: center;
    font-size: 100%;
    color: white;
    margin: 2%;
    margin-left: 65px;
    z-index: 1;
    backdrop-filter: blur(115px);
    background-color: #9558b296;
    border: 2px solid #111;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    width: 160px;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    padding: 0.25px;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.SobreGiordano:hover
{
    background-color: #9558b2;
    transform: scale(1.2);
}
/*Card do Emiliano*/
.divEmiliano
{
    position: absolute;
    left: 7%;
    bottom: 16%;
    box-sizing: border-box;
    width: 290px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.divEmiliano:hover
{
    outline-offset: 50px;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.686) 0px 20px 30px;
}
.iconEmiliano
{
    margin-top: 3px;
    margin-left: 4px;
    width: 280px;
    height: 280px;
}
.iconMatheus
{
    margin-top: 3px;
    margin-left: 4px;
    width: 280px;
    height: 280px;
    border-radius: 10%;
}
.iconGiordano
{
    margin-top: 3px;
    margin-left: 4px;
    width: 280px;
    height: 280px;
}
/*Card do Matheus*/
.divMatheus
{
    position: absolute;
    left: 37%;
    bottom: 16%;
    box-sizing: border-box;
    width: 290px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.divMatheus:hover
{
    outline-offset: 50px;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.686) 0px 20px 30px;
}
/*Card do Giordano*/
.divGiordano
{
    position: absolute;
    left: 67%;
    bottom: 16%;
    box-sizing: border-box;
    width: 290px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 350ms cubic-bezier(0.2, 0, 0, 0.8);
}
.divGiordano:hover
{
    outline-offset: 50px;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.686) 0px 20px 30px;
}
/*Fontes para os cards em geral*/
.fontNomes
{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 200%;
    margin: 0%;
}
.fontCargos
{
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #fff;
    font-size: 150%;
    margin: 0%;
}
/*Descrição do grupo, textos gerais*/
.divDesc1
{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}
.divDesc2
{
    position: absolute;
    top: 10%;
    left: 24%;
    width: 49%;
    height: 5%;
    transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.divDesc2:hover
{
    transform: scale(1.3);
}
.fontDesc
{
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 130%;
    text-align: center;
    margin-top: 5px;
    margin-left: 23%;
    margin-right: 23%;
}
/*============== Estilo dos curriculos em si ==============*/
.CurriculoLogo
{
    padding: 4px;
    width: 4%;
    height: 90%;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.CurriculoLogo:hover
{
    padding: 0px;
    width: 6%;
    height: 100%;
}
/*==============
Curriculo do Gustavo Emiliano
==============*/
/*==============
logo, fundo e estilo básico
==============*/
/*Cor e fundo*/
.CurriculoBG
{
    background: rgb(175,175,175);
    background: radial-gradient(circle, rgba(175,175,175,1) 0%, rgba(88,88,88,1) 100%);
    overflow-x: hidden;
}
/*Logo, nomes e header de navegação*/
.HeaderPageEmiliano
{
    width: 1600px;
    height: 10%;
    position: fixed;
    left: 0%;
    top:0%;
    flex-direction: row;
    justify-content: space-between;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.HeaderPageEmiliano:hover
{
    height: 15%;
    background-color: #389826;
}
li
{
    margin-left: 120px;
    display: inline-block;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
li:hover
{   
    transform: scale(1.3);
}
.HeaderTxt
{
    position: absolute;
    top: 0px;
    left: 5%;
    font-size: 150%;
    color: white;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.HeaderTxt:hover
{
    
    padding: 10px;
}

/*==============
Itens da pagina, descrições, fotos e icones
==============*/
.FrontEmiliano
{
    color: #389826;
    margin: 0%;
}

/*==============
Curriculo do Matheus Sato
==============*/
/*==============
logo, fundo e estilo básico
==============*/
/*Logo, nomes e header de navegação*/
.HeaderPageMatheus
{
    width: 1600px;
    height: 10%;
    position: fixed;
    left: 0%;
    top:0%;
    flex-direction: row;
    justify-content: space-between;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.HeaderPageMatheus:hover
{
    height: 15%;
    background-color: #cb3c33;
}
/*==============
Itens, sessões e descrições
==============*/
/*Separações, localidade e divisões*/
#Sobre
{
    margin-top: 5%;
}
.DivTitle
{
    position: absolute;
    left: 8%;
    top: 15%;
    font-size: 220%;
    transition: all 150ms cubic-bezier(0.2, 0, 0, 0.8);
}
.DivTitle:hover
{
    transform: scale(1.2);
}
.CurriculoFoto
{
    position: absolute;
    top: 23.2%;
    left: 20%;
    width: 65%;
    border-radius: 20%;
}
.CardMatheus
{
    width: 40%;
    height: 70%;
    position: absolute;
    top: 17%;
    left: 50%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.CardMatheus:hover
{
    transform: scale(1.1);
}
.SobreMim
{
    position: absolute;
    width: 37%;
    top: 42%;
    left: 8%;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.SobreMim:hover
{
    transform: scale(1.1);
}
/*Botões Redes Sociais*/
.Linkedin
{
    position: absolute;
    left: 50%; 
    top: 92%;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.Linkedin:hover
{
    transform: scale(1.3);
}
.Gmail
{
    position: absolute;
    left: 61%; 
    top: 92%;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.Gmail:hover
{
    transform: scale(1.3);
}
.Github
{
    position: absolute;
    left: 71%; 
    top: 92%;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.Github:hover
{
    transform: scale(1.3);
}
.WhatsApp
{
    position: absolute;
    left: 81%; 
    top: 92%;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.WhatsApp:hover
{
    transform: scale(1.3);
}
/*Escrita*/
.FrontMatheus
{
    color: #cb3c33;
    margin: 0%;
}
.Dev
{
    margin: 0%;
    color: #fff;
}
.CurriculoName
{
    position: absolute;
    bottom: 72%;
    left: 20%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 290%;
}
.InfosTitle
{
    font-size: 120%;
    color: white;   
}
.fontInfos
{
    font-size: 110%;
    color: white;
}
/*==============
Curriculo do Gustavo Giordano
==============*/
.HeaderPageGiordano
{
    width: 1600px;
    height: 10%;
    position: fixed;
    left: 0%;
    top:0%;
    flex-direction: row;
    justify-content: space-between;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}
.HeaderPageGiordano:hover
{
    height: 15%;
    background-color: #9558b2;
}
/*Separações, localidade e divisões*/
.FrontGiordano
{
    color: #9558b2;
    margin: 0%;
}