body{
     background-image: linear-gradient(to right, #0b0311 , black);
}

.header{
    margin-top: 1%;
    margin-bottom: 1%;
}

.logoheader{
    width: 4%;
    height: 3%;
    float: left;
    padding: 13px;
}

.fontheader{
    font-family: 'Righteous', cursive;
    float: left;
    font-size: 200%;
    color: black;
}

#g1{
color: rgb(56, 152, 38);}

#m{
    color: rgb(203, 60, 51);
}

#g2{
    color: rgb(149, 88, 178);
}

#group{
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(238, 238, 238)
}

.icons{
    margin-top: 5%;
    margin-bottom: 5%;
}

.icon1{
    width: 5%;
    height: 5%;
    padding: 5%;;
}
.icon2{
    width: 5%;
    height: 5%;
    padding: 5%;;
}
.icon3{
    width: 5%;
    height: 5%;
    padding: 5%;;
}