body{
    background-image: linear-gradient(to right, #0b0311 , black);
}

#g1{
color: rgb(56, 152, 38);}

#m{
   color: rgb(203, 60, 51);
}

#g2{
   color: rgb(149, 88, 178);
}

#group{
   -webkit-text-stroke-width: 0.1px;
   -webkit-text-stroke-color: rgb(238, 238, 238)
}

.header{
    margin-top: 1%;
    margin-bottom: 1%;
 }
 
 .logoheader{
    position: absolute;
    top: 1px;
    right: 94%;
    width: 7%;
    height: 7%;
    padding: 5px;
    
 }
 
 .fontheader{
    position: absolute;
    bottom: 872px;
    right: 1627px;
    font-family: 'Righteous', cursive;
    float: left;
    font-size: 210%;
    color: black;
 }

.icons{
   margin-top: 55%;
   margin-bottom: 5%;
}

.icon1{
   width: 5%;
   height: 5%;
   padding: 5%;
   background-color: gray;
   border-radius: 100%;
}
.icon2{
   width: 5%;
   height: 5%;
   padding: 5%;
   background-color: gray;
   border-radius: 100%;
   
}
.icon3{
   width: 5%;
   height: 5%;
   padding: 5%;
   background-color: gray;
   border-radius: 100%;
}
