.IndexBody {
    background: linear-gradient(to top left, #660066 0%, #000000 100%);
    overflow-y: hidden;
}

#g1 {
    color: rgb(149, 88, 178);
}

#group {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(238, 238, 238)
}

.header {
    margin-top: 1%;
    margin-bottom: 1%;
}

.logoheader {
    position: absolute;
    top: 1px;
    right: 94%;
    width: 7%;
    height: 7%;
    padding: 5px;
}

.fontheader {
    position: absolute;
    bottom: 872px;
    right: 1627px;
    font-family: 'Righteous', cursive;
    float: left;
    font-size: 210%;
    color: black;
}

.icons {
    margin-top: 10%;
    margin-bottom: 50%;
}

.icon1 {
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 16%;
    margin-right: 5%;
    cursor: pointer;
    outline: 5px solid;
    outline-color: #9558b2;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}

.icon1:hover {
    color: #9558b2;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 50px;
    border-radius: 100%;
    transform: scale(1.1);
}

.icon2 {
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    outline: 5px solid;
    outline-color: #cb3c33;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}

.icon2:hover {
    color: rgb(203, 60, 51);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 50px;
    border-radius: 100%;
    transform: scale(1.1);
}

.icon3 {
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    outline: 5px solid;
    outline-color: #389826;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}

.icon3:hover {
    color: #389826;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 50px;
    border-radius: 100%;
    transform: scale(1.1);
}

.fontCargos {
    font-family: 'Caveat', cursive;
    color: #fff;
    font-size: 200%;
}

.fontnames {
    font-family: 'Caveat', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 200%;
}

.name1 {
    position: absolute;
    bottom: 400px;
    left: 335px;
}

.name2 {
    position: absolute;
    bottom: 400px;
    left: 835px;
}

.name3 {
    position: absolute;
    bottom: 400px;
    left: 1290px;
}

.cargo1 {
    position: absolute;
    bottom: 360px;
    left: 390px;
}

.cargo2 {
    position: absolute;
    bottom: 360px;
    left: 860px;
}

.cargo3 {
    position: absolute;
    bottom: 360px;
    left: 1340px;
}

.BaseboardTxt {
    position: absolute;
    top: 650px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 150%;
    color: white;
}


/*============== Curriculo Matheus ==============*/

.MatheusBody {
    background-color: black;
}

.LeftDiv{
    float: left;
    width: 20%;
    height: 500px;
    background: #ccc;
    padding: 10px;
    }