/*============== Logo & Nome do grupo (flutuante) ==============*/

#g1 {
    color: rgb(149, 88, 178);
}

#group {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(238, 238, 238);
}

.header {
    margin-top: 1%;
    margin-bottom: 1%;
}

.logoheader {
    position: absolute;
    top: 2.5%;
    right: 94%;
    width: 7%;
    height: 7%;
    padding: 5px;
}

.fontheader {
    position: absolute;
    top: 1%;
    bottom: 90%;
    right: 82%;
    left: 4.5%;
    font-family: 'Righteous', cursive;
    float: left;
    font-size: 210%;
    color: black;
}

/*============== Estilo do Index ==============*/

.IndexBody {
    background: linear-gradient(to top left, #660066 0%, #000000 100%);
    overflow-y: hidden;
    margin-top: 10%;
    margin-bottom: 70%;
}

/*=== Icones/Fotos ===*/

.icon1 {
    position: absolute;
    top: 27%;
    left: 15.5%;
    width: 15%;
    height: 30%;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    outline: 5px solid;
    outline-color: #9558b2;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}

.icon1:hover {
    color: #9558b2;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 50px;
    border-radius: 100%;
    transform: scale(1.1);
}

.icon2 {
    position: absolute;
    top: 27%;
    left: 40.5%;
    width: 15%;
    height: 30%;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    outline: 5px solid;
    outline-color: #cb3c33;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}

.icon2:hover {
    color: rgb(203, 60, 51);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 50px;
    border-radius: 100%;
    transform: scale(1.1);
}

.icon3 {
    position: absolute;
    top: 27%;
    left: 65.5%;
    width: 15%;
    height: 30%;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    outline: 5px solid;
    outline-color: #389826;
    transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
}

.icon3:hover {
    color: #389826;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 50px;
    border-radius: 100%;
    transform: scale(1.1);
}

/*=== Nomes, texto e titulo ===*/

.fontCargos {
    font-family: 'Caveat', cursive;
    color: #fff;
    font-size: 200%;
}

.fontnames {
    font-family: 'Caveat', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 200%;
}

.name1 {
    position: absolute;
    bottom: 34.7%;
    left: 17%;
}

.name2 {
    position: absolute;
    bottom: 34.7%;
    left: 43.9%;
}

.name3 {
    position: absolute;
    bottom: 34.7%;
    left: 67.5%;
}

.cargo1 {
    position: absolute;
    bottom: 31%;
    left: 20%;
}

.cargo2 {
    position: absolute;
    bottom: 31%;
    left: 45.3%;
}

.cargo3 {
    position: absolute;
    bottom: 31%;
    left: 70%;
}

.IndexTxt{
    color: white;
    font-family: 'Arimo', sans-serif;
}

.HeaderTxt{
    position: absolute;
    top: 13%;
    margin-left: 38.5%;
    font-size: 250%;
}

.BaseboardTxt {
    position: absolute;
    bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 150%;
}

/*============== Curriculo Matheus ==============*/

.MatheusBody {
    background-color: black;
}

.LeftDiv{
    float: left;
    width: 20%;
    height: 500px;
    background: #ccc;
    padding: 10px;
    }